/* .ServicesBG{
    background-image: url(../../assets/img/yellowBG.png);
    background-repeat: no-repeat;
    background-image: center;
} */



.Service{
   background-image: url(../../assets/img/Vector2.png);
}